body{
    background: rgba(31, 0, 44, 255);
    padding-bottom: 120px;
    padding-top: 120px;
}
#oo{
    text-align: center;
}
#oU{
    text-align: center;
    font-family: 'Nosifer', sans-serif;
    font-size: 330%;
    color: rgba(204, 180, 212, 255);
}    
#ok{
    width: fit-content;
    /* margin: 0px auto; */
    font-family: 'Lemonada', cursive;
    font-size: 500%;
    color: rgba(204, 180, 212, 255);

}
.fd{
    background-image: url(glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg);
    background-repeat: no-repeat;
    /* background-position: 50px 80px ; */
    background-size: cover;
    width: 100%;
    height: 700px;
    
    
    /* margin: 0px auto; */
}
.image-overlay{
    width: 100%;
    height: 700px;
    background-color: rgba(128, 0, 128, 0.5);
    justify-content: center;
    align-items: center;
    display: flex;
}
.sd{
    background: rgba(204, 180, 212, 255);
    width: fit-content;
    margin: 0px auto;
    padding: 10px 10px 140px 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bn{
    width: 98%;
}
td{
    padding: 2% 0% 0% 0%;
}
input{
    border: 1.5px solid grey;
    border-radius: 3px;
    height: 25px;
    outline-color: rgb(162, 38, 230);
}
textarea{
    border: 1.5px solid grey;
    border-radius: 3px;
    outline-color: rgb(162, 38, 230);
    
}
input[type="file"]{
    border: none;
    width: 90px;
}
#nora{
    width: 20px;
    height: 15px;
   
}
#cap{
    background: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;
    padding: 10px;
    position: relative;
    left: 34%;
    top: 50px;
    font-size: 13px;
}
input[type="submit"]{
    position: relative;
    left: 85%;
    bottom: ;
    top: 130px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}
#head{
    background: purple;
    width: 100%;
    height: 17.9%;
    position: fixed;
    top: 0px;
    left: 0px;
}
.yh{
    background: purple;
    color: rgba(204, 180, 212, 255);
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;

}
.mn{
    background: purple;
    color: rgba(204, 180, 212, 255);
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
}        